<h1>Editing Book</h1>
<%= form_with model:@book, local: true do |f| %>
  <div class="field">
  <h4 class="label">Title</h4>
  <%= f.text_field :title %>
  </div>
  <div class="field">
  <h4 class="label">Body</h4>
  <%= f.text_area :body %>
  </div>
  <div class="field">
  <%= f.submit 'Update Book' %>
  </div>
<% end %>
<%= link_to "Show", book_path(params[:id]) %>
 |
<%= link_to "Back", books_path %>